body, html {
  width: 100%;
  margin: 0;
  position:fixed;
}

.container1 {
  position:relative; 
  width:18%;
  display:inline-block;
  padding: 0;
  margin-right:-60px;

}


.outer-container{
  position:relative;
  margin-top:200px;
  margin-left:170px;
}


p.text{
  font-family: 'Bree Serif';
  letter-spacing: 1px;
  font-size: 20px;
  border: 1px solid black;
  padding: 10px 15px;
  color: black;
  
}

p.text:hover{
  background-color: black;
  color: white;
}

.footer{
  position: fixed;
  bottom: 0;
  background: #0d2142;
  width: 100%;
  color: white;

}